absl-py
appdirs
astroid
astunparse
attrs
beautifulsoup4
blis
bs4
cachetools
catalogue
certifi
chardet
click
cssselect
cymem
docx2txt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
fake-useragent
Flask
Flask-Cors
flatbuffers
future
gast
gensim
google
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
isort
itsdangerous
Jinja2
joblib
jsonschema
Keras-Preprocessing
lazy-object-proxy
lxml
Markdown
MarkupSafe
mccabe
mime
murmurhash
nltk
numpy
oauthlib
opt-einsum
pandas
parse
Pillow
plac
preshed
protobuf
pyasn1
pyasn1-modules
pyee
pylint
PyPDF2
pyppeteer
pyquery
pyrsistent
pytesseract
python-dateutil
pytz
regex
requests
requests-html
requests-oauthlib
rsa
scipy
selenium
six
smart-open
soupsieve
spacy
srsly
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
thinc
toml
tqdm
typed-ast
typing-extensions
urllib3
w3lib
wasabi
websockets
Werkzeug
wrapt
zipp
