body {
    background: linear-gradient(180deg, rgba(38, 41, 47, 0.94) 40%, rgba(38, 41, 47, 0) 100%) no-repeat  fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
#registerationFormContanier {
    background-color: rgba( 255, 255, 255, 0.7);
}
#middleContainer{
    margin-top: 3.5%;
}

.spinner {
    position: fixed;
    width: 100%;
    height: calc(100% - 8vh);
    background: rgba(255, 255, 255, 0.9)  center center no-repeat;
}
